body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(160, 213, 183);
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.tarjeta {
    background-color: rgb(47, 68, 70);
    width: 150px;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(rgb(226, 218, 218), green, blue, alpha);
} 
.tarjeta img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
}
.tarjeta a {
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(18, 80, 93);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}
.tarjeta h2 {
    color: beige;
}
* { 
    box-sizing: border-box;

}
body { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-size: 40px;
}
/* contenedor normal */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}
/* Tarjetas */
.tarjeta { 
    width: 220px;
    text-align: center;
}
/* Imagenes */ 
.tarjeta img { 
    width: 120px;
    height: auto;
}
/* Para celular */ 
@media (max_width: 600px) {
    h1 { 
        font-size: 34px;
        margin-top: 40px;
        padding: 0 10px;
    }

.contenedor { flex-direction: column;
align-items: center;
gap: 25px;
padding: 10px;
margin-top: 20px;
}
.tarjeta { 
    width: 85%;
    max-width: 300px;

}
.tarjeta img { 
    width: 140px;
    height: auto;
    }
}
